<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- index.js에서 title(키):value(값)으로 보내준 거를 사용하고 싶을 때 
        태그 사이에 중괄호 두 개를 써서 그 안에 키 값을 써준다! -->
    <h1>{{title}}</h1>

    <!-- 내부 변수 선언 -->
    <!-- 중괄호 사이에 %% 넣고 그 사이에 set 하고 변수 이름 쓰고 값 쓰면 됨 -->
    {%set node = 'node.js' %}
    {%set js='js'%}
    <!-- 위에서 세팅해준 변수 사용 중괄호 두 개 써서 변수 이름 쓰기 -->
    <h3>{{node}}</h3>
    <h3>{{js}}</h3>

    <!-- 조건문 -->
    {%if js === 'node'%}
        <p>node입니다</p>
    {%elif js==='java'%}
        <p>java입니다</p>
    {%else%}
        <p>js입니다</p>
    {%endif%}<!-- 조건문의 마지막이라는 것을 알려줘야 함 -->
    
    <!-- 반복문 -->
    {%set fruits=['🍏', '🥝', '🍓']%}
    <table border="1">
        <tr>
            <!-- loop.index => 반복문의 인덱스를 가져와서 1, 2, 3 번호를 붙여줌 -->
            {%for item in fruits%}
                <td>{{loop.index}}.{{item}}</td>
            {%endfor%}<!-- 반복문 끝이라는 걸 알려줘야 함 -->
        </tr>
    </table>
</body>
</html>